<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   
    <!-- Bootstrap CDN icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
   
    <link href="style.css" rel="stylesheet" type="text/css">

    <title>Services</title>
</head>
<body>
	<div class="container-fluid" id="containerServices">
		<div id="imgDiv">
      <img src="/workspace/exercise-collaborative-html-website/website/assets/img/2.jpg" alt="service" id="imgService">
    </div>
		<div class="cajaTextoService">
            <div id="cabecera">
              <h2 id="textSize">The Second Heading <span class="colorGris">&nbspIs Pretty Cool Too.</span></h2>
            </div>
            <div><p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo tempora quam placeat ad quia<br>
						reprehenderit deserunt ea harum, fuga recusandae? Sunt non dolorum voluptas cumque, architecto<br>
						 modi doloribus ab sint!</p>
            </div>
    </div>		
  </div>
</body>
</html>