<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->


    <link href="../assets/css/style.css" rel="stylesheet" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   
    <!-- Bootstrap CDN icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="styleTagline.css" rel="stylesheet" type="text/css">

    <title>tag-line</title>
</head>
<body>
	<div class="container-fluid">
		<div><img src="/workspace/exercise-collaborative-html-website/website/assets/img/bg.jpg" alt="skyLine"></div>
		<div class="cajaTexto1"><h1>One Page Wonder</h1></div>
		<div class="cajaTexto2"><p>Will Knock Your Socks Off</p></div>
  	</div>
	
</body>
</html>
<p>Hello, I'm the tagline and I was loaded using ajax from templates/tagline.html</p>

    <link href="exercise-collaborative-html-website/website/templates/tagStyle.css" rel="stylesheet" type="text/css">

    <title>Services</title>
</head>
<body>
	<div class="container-fluid-manuel">
		<div><img src="./assets/img/bg.jpg" alt="skyLine"></div>
		<div class="cajaTexto1"><h1 class="h1-manuel">One Page Wonder</h1></div>
		<div class="cajaTexto2"><p class="p-manuel">Will Knock Your Socks Off</p></div>
  	</div>
	
</body>
</html>
